.mail-box > .row > div:first-child {
  margin-left: 20px;
}
.mail-buttons {
  width: 100%;
}
.mail-buttons > * {
  float: right;
}
.mail-buttons > button {
  margin: 10px;
}
@media screen and (max-width: 573px) {
  .mail-box > .row > div {
    margin-left: 20px;
  }
}
.schedule-container {
  text-align: center;
}
.schedule-container > span {
  width: 18px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-right: 5px;
}
// .mail-box {
//   box-shadow: 2px 2px 8px 2px rgba(80, 80, 250, 0.8) !important;
//   border-color: #5cb85c;
// }
